{% extends "base.html" %}
{% block title %}Quote History{% endblock %}
{% block content %}
    <h1>Client's List Of Quote History's</h1>
    <h3>Oldest to New</h3>

    <h2>John Doe</h2>
    
        <li>
            <strong>Address:</strong> 123 Main St, Anytown, USA
        </li>
        <li>
            <strong>Gallons Requested:</strong> 100
        </li>
        <li>
            <strong>Delivery Date:</strong> 2024-02-23
        </li>
        <li>
            <strong>Suggested Price:</strong> $2.50
        </li>
        <li>
            <strong>Total Amount Due:</strong> $250.00
        </li>
   
    <hr>
    
    <h2>John Doe</h2>
  
        <li>
            <strong>Address:</strong> 456 Oak St, Springfield, USA
        </li>
        <li>
            <strong>Gallons Requested:</strong> 150
        </li>
        <li>
            <strong>Delivery Date:</strong> 2024-03-15
        </li>
        <li>
            <strong>Suggested Price:</strong> $2.75
        </li>
        <li>    
            <strong>Total Amount Due:</strong> $412.50
        </li>

    
{% endblock %}
