{% extends "base.html" %}
{% block title %}Quote History{% endblock %}
{% block content %}
    <h1>Client's List Of Quote History's</h1>
    <h3>Oldest to New</h3>

    <table style="border-collapse: collapse; width: 100%;">
        <tr style="border: 1px solid #dddddd;">
            <th style="border: 1px solid #dddddd;">Name</th>
            <th style="border: 1px solid #dddddd;">Address</th>
            <th style="border: 1px solid #dddddd;">Gallons Requested</th>
            <th style="border: 1px solid #dddddd;">Delivery Date</th>
            <th style="border: 1px solid #dddddd;">Suggested Price</th>
            <th style="border: 1px solid #dddddd;">Total Amount Due</th>
        </tr>

        {% for quote in quotes %}
        <tr style="border: 1px solid #dddddd;">
            <td style="border: 1px solid #dddddd;">{{ quote.name }}</td>
            <td style="border: 1px solid #dddddd;">{{ quote.address }}</td>
            <td style="border: 1px solid #dddddd;">{{ quote.gallons_requested }}</td>
            <td style="border: 1px solid #dddddd;">{{ quote.delivery_date }}</td>
            <td style="border: 1px solid #dddddd;">{{ quote.suggested_price }}</td>
            <td style="border: 1px solid #dddddd;">{{ quote.total_amount_due }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}